/node_modules
/.pnp
.pnp.js

/coverage

/.next/
/out/

/build

.DS_Store
*.pem

dist
.env
.env.production

npm-debug.log*
yarn-debug.log*
yar-error.log*

.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local
/src/env.d.ts

.dockerignore
deploy.sh